<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
<img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Banner" class="w-full h-[450px] object-cover">


<!-- Product Images -->
<img src="{{ url_for('static', filename='images/sapphire-ring.jpg') }}" alt="Sapphire Gold Ring" class="w-full h-56 object-cover mb-4">
<img src="{{ url_for('static', filename='images/diamond-earrings.jpg') }}" alt="Diamond Stud Earrings" class="w-full h-56 object-cover mb-4">
<img src="{{ url_for('static', filename='images/silver-bracelet.jpg') }}" alt="Silver Bracelet" class="w-full h-56 object-cover mb-4">
